@media (min-width: 321px) {
  .panel {
    float: left;
    width: 46%;
    margin-left: 4%;
    margin-bottom: 4%;
  }

  .panel-container {
    margin-left: -4%;
  }
}

@media (min-width: 769px) {
  .panel {
    width: 23%;
    margin-left: 2%;
  }

  .panel-container {
    margin-left: -2%;
  }

}