.block {
  font-size: 40px;
  line-height: 400px;
  text-align: center;

  color: white;
  width: 80%;
  height: 400px;
  margin: 40px auto;

  background: #999 url("../images/blurry.jpg") no-repeat center center;
  background-size: cover;
}
